:root {
    --color-1: #016701;
    --color-2: #826292;
    --color-3: #5D001C;
    --font-base: "PT Serif", serif;
    --font-h: "Inter", sans-serif;
}


body {
    font-family: var(--font-base);
    background: #e6e6e6;
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--font-h);
}

body,h1,h2,h3,h4,h5,h6,p,ul,li,ol {
    margin: 0;
    padding: 0;
}

main {
    max-width: 1200px;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 0 20px;
}

img {
    max-width: 100%;
    display: block;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.05);
}

.card img {
    object-fit: cover;
    height: 200px;
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.card h5 {
    background-color: var(--color-1);
    color: #fff;
    font-weight: normal;
    text-transform: uppercase;
    padding: 10px 20px;
    font-size: 11px;
}

.card h2 {
    font-size: 18px;
}

.card .text {
    padding: 20px;
}

.card h6 {
    border-top:1px solid rgba(0,0,0,0.2);
    margin-top: 20px;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: normal;
    font-size: 11px;
    color: var(--color-1);
}

.card.color-1 h5 {
    background-color: var(--color-1);
}

.card.color-2 h5 {
    background-color: var(--color-2);
}

.card.color-2 h6 {
    color: var(--color-2);
}

.card.color-3 h5 {
    background-color: var(--color-3);
}

.card.color-3 h6 {
    color: var(--color-3);
}

.card.color-1 {
    stroke:var(--color-1);
}

.card.color-2 {
    stroke:var(--color-2);
}

.card.color-3 {
    stroke:var(--color-3);
}